* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.4em;
    background-color: #dfdad7;
    margin: 0em;
}


a {
    text-decoration: none;
    color: white
}

img {
    max-width: 100%;
    padding: 1em;

}

h1 {
    font-size: 1em;
    padding: 0.5em;
    font-family: montserrat, sans-serif, arial;
    font-weight: 700;
}

body {
    font-family: montserrat, sans-serif, arial;
    font-weight: 300;
    color: white;
    background-color: #AEC2A9;
}

.homepage-body header {
    background-color: #628C79;
}


p {
    margin: 1em;
}

nav img {
    max-width: 1.75em;
    padding: 0em;
    margin-top: 0.5em;
    margin-right: 0.75em;
}

img.logo-navbar {
    max-width: 6em;
    margin-right: 4em;
}

main {
    background-color: #628C79;
    margin-bottom: 0em;
}


h1 {
    color: #154028;
    font-family: montserrat, sans-serif, arial;
    font-weight: 700;
    font-size: 1.75em;
}

h2 {
    color: #154028;
    font-size: 1.25em;
    margin-left: 1em;
    margin-right: 1em;
}

article:first-of-type {
    background-color: #AEC2A9;
}

.homepage-body main img {
    max-width: 11em;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-item {
    text-align: center;
}

.homepage-body div {
    margin: 1em;
}

footer {
    background-color: #AEC2A9;
    color: #154028;
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.homepage-body footer h2 {
    margin-top: 0em;
}

.draaien {
    animation: draai 3s ease;
    animation-iteration-count: infinite;

}

@keyframes draai {
    0% {
        transform: rotate(0deg);

    }

    60% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

body {
    margin-top: 3.75em;
}

.milieu-body article:first-child p {
    color: #154028;
}

h3 {
    color: white;
    font-family: montserrat, sans-serif, arial;
    font-weight: 700;
    font-size: 1.5em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1.5em;
    text-align: center;
    text-decoration: dashed;
}

.milieu-body main article img {
    max-width: 17em;
}

.milieu-body article:nth-child(2) p:nth-of-type(2) {
    color: white;
    background-color: #F28B0C;
    padding: 0.5em;
    text-align: center;
}


.milieu-body article:nth-child(2) p:nth-of-type(3) {
    color: white;
    background-color: #154028;
    padding: 0.5em;
    text-align: center;
}

.milieu-body article:nth-child(2) p:nth-of-type(4) {
    color: white;
    background-color: black;
    padding: 0.5em;
    text-align: center;
}

.milieu-body article:nth-child(2) p:nth-of-type(7) {
    color: white;
    background-color: #58A633;
    padding: 0.5em;
    text-align: center;
}

.milieu-body article:nth-child(2) p:nth-of-type(8) {
    color: white;
    background-color: #3384C5;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 0em;
}

.milieu-body article:nth-child(2) p:nth-of-type(10) {
    color: white;
    background-color: #BF1B1B;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 0em;
}

.milieu-body article {
    display: flex;
    flex-direction: column;
}

.milieu-body article img {
    align-self: center;
}

.milieu-body h2 {
    margin-top: 1em;
}

.shake {
    animation: shake 3s ease;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: rotate(-5deg)
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.milieu-body article:nth-child(2) p:nth-of-type(9) {
    margin: 0em;
    margin-right: 1.5em;
    font-size: 0.75em;
    text-align: end;
    margin-top: 0.25em;

}

.milieu-body article:nth-child(2) p:nth-of-type(11) {
    margin: 0em;
    margin-right: 1.5em;
    font-size: 0.75em;
    text-align: end;
    margin-top: 0.25em;

}

.milieu-body p:first-of-type {
    margin-top: 0em;
}

.milieu-body h2:first-child {
    margin-bottom: 1em;
    margin-top: 0.75em;
}


.milieu-body article:nth-child(2) p:nth-of-type(14) {
    font-style: italic;
    font-size: 1em;
    margin-top: 1.5em;
}


.verkoop-body article:first-of-type p:first-of-type {
    padding-bottom: 1em;
    color: #154028;

}

.verkoop-body p {
    margin-top: 0em;
}

.verkoop-body h2 {
    margin-top: 2em;
}

.verkoop-body footer h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.homepage-body header img:last-of-type {
    padding: 0em;
    width: 100%
}

h3:last-of-type {
    margin-top: 1em;
}

h2:first-of-type {
    margin-top: 1em;
}

.milieu-body footer img:first-child {
    width: 100%;
    margin: 0em;
    padding-bottom: 0em;
    padding-top: 0em;
}

.milieu-body main ul {
    list-style-type: circle;
    margin-left: 2em;
}

.milieu-body footer ul {
    list-style-type: circle;
    margin-left: 2em;
}

.milieu-body main {
    padding-bottom: 1em;
}

.verkoop-body main {
    padding-bottom: 1em;
}

.milieu-body main img:nth-of-type(3) {
    margin-top: 2em;
    margin-bottom: 1em;
}

footer img:last-child {
    width: 25em;
    position: absolute;
    padding-right: 2.5em;
    padding-left: 2.5em;

    margin-bottom: 0em;
    margin-top: 2em;
    background-color: #dfdad7;
}

.verkoop-body footer img:first-of-type {
    width: 9em;
    display: flex;
    float: right;
    margin-right: 1em;
}

.milieu-body h3:last-of-type {
    color: #154028;
    font-size: 1.25em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}